$calendar-day-size: 100px;
$calendar-gap: 1px;
$calendar-font-size: 30px;
$calendar-font-family: Arial, sans-serif;
$calendar-bg-color: #eee;
$calendar-hover-bg: #ffbfcb;
$calendar-border-color: black;
$calendar-animation-time: 0.5s;
$days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
